<div class="container">
    <h2>Portfolio</h2>
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat"</p>          


         <div class="container-fluid">
      <div class="row mb-3 mx-auto">
        <div class="col-4"><img src="https://picsum.photos/id/11/600/450" class="img-fluid" alt="img" />
          <h4 class="card-title"><b>Proyect name</b> </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lectus sem, 
                                  tempor vitae mattis malesuada, ornare sed erat. Pellentesque nulla dui, congue
                                  nec tortor sit amet, maximus mattis dui. </p>
            
        </div>
        <div class="col-4"><img src="https://picsum.photos/id/11/600/450" class="img-fluid" alt="img" />
          <h4 class="card-title"><b>Proyect name</b> </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lectus sem, 
            tempor vitae mattis malesuada, ornare sed erat. Pellentesque nulla dui, congue
            nec tortor sit amet, maximus mattis dui. </p>
        </div>

        <div class="col-4"><img src="https://picsum.photos/id/12/600/450" class="img-fluid" alt="img" />
          <h4 class="card-title"><b>Proyect name</b> </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lectus sem, 
            tempor vitae mattis malesuada, ornare sed erat. Pellentesque nulla dui, congue
            nec tortor sit amet, maximus mattis dui. </p>
        </div>
      </div>
      
    
    
    </div>       